body {
	margin: 0px;
	background-color: #EAEAEA;
  }
.menu0 {
	background-color: #629FBC;
	height: 80px;
}
.menu1 {
	width: 800px;
	margin: 0 auto;
}
.menu2 {
	display: inline-block;
}
.menu3 {
	display: inline-block;
	padding: 15px;
	font-size: 25px;
	color: black;
}
.menu4 {
	display: inline-block;
	float: right;
	padding: 46px;
	font-size: 25px;
}
.block {
	background-color: white;
	width: 800px;
	margin: 0 auto;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 120%;
	border-radius: 10px;
}
.imageleft {
	float:left;
	margin: 10px;
	border-radius: 3px;
}
.imageright {
	float: right;
	margin: 10px;
	border-radius: 3px;
}
.footer0 {
	background-color: #629FBC;
	padding: 10px;
}
.footer1 {
	width: 800px;
	margin: 0 auto;
}
.footer2 {
	display: inline-block;
	padding: 15px;
	font-size: 25px;
	color: black;
}
.footer3 {
	display: inline-block;
	float: right;
	padding: 15px;
	font-size: 25px;
	color: black;
}
.Link {
	color: blue;
	font-size: 60%;
}
.Link1 /*Credible/Убедительный*/ {
	display: inline-block;
	background: green;
    border-radius: 50%;
    width: 16px;
    height: 16px;
	margin: 0px;
}
.Link2 /*Ambiguous/Неоднозначный*/ {
	display: inline-block;
	background: yellow;
    border-radius: 50%;
    width: 16px;
    height: 16px;
	margin: 0px;
}
.Link3 /*Incredible/Невероятный*/ {
	display: inline-block;
	background: red;
    border-radius: 50%;
    width: 16px;
    height: 16px;
	margin: 0px;
}
.Link4 /*Falsely/Ложно(для вступлений)*/ {
	display: inline-block;
	background: black;
    border-radius: 50%;
    width: 16px;
    height: 16px;
	margin: 0px;
}
