body {
	margin: 0px;
	background-color: #EAEAEA;
  }
.menu0 {
	background-color: #629FBC;
	height: 80px;
}
.menu1 {
	width: 800px;
	margin: 0 auto;
}
.menu2 {
	display: inline-block;
}
.menu3 {
	display: inline-block;
	padding: 15px;
	font-size: 25px;
	color: black;
}
.menu4 {
	display: inline-block;
	float: right;
	padding: 46px;
	font-size: 25px;
}
.block {
	background-color: white;
	width: 800px;
	margin: 0 auto;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 120%;
}
.imageleft {
	float:left;
	margin: 10px;
}
.imageright {
	float: right;
	margin: 10px;
}
.footer0 {
	background-color: #629FBC;
	padding: 10px;
}
.footer1 {
	width: 800px;
	margin: 0 auto;
}
.footer2 {
	display: inline-block;
	padding: 15px;
	font-size: 25px;
	color: black;
}
.footer3 {
	display: inline-block;
	float: right;
	padding: 15px;
	font-size: 25px;
	color: black;
}
.Link1 /*Credible/Убедительный*/ {

}
.Link2 /*Ambiguous/Неоднозначный*/ {

}
.Link3 /*Incredible/Невероятный*/ {

}
.Link4 /*Falsely/Ложно(для вступлений)*/ {

}
